<!-- Modal Đặt lại mật khẩu -->
<div class="modal fade" id="resetPasswordModal" tabindex="-1" role="dialog" aria-labelledby="resetPasswordModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="resetPasswordModalLabel">Đặt lại mật khẩu</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <p>Bạn có chắc chắn muốn đặt lại mật khẩu người dùng này về mật khẩu mặc định (<strong>123456</strong>)?</p>
              <input type="hidden" id="resetPasswordUserId">
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
              <button type="button" class="btn btn-warning" id="confirmResetPassword">Đặt lại</button>
          </div>
      </div>
  </div>
</div>