<h2>Thống kê người dùng</h2>
<ul>
    <li>Tổng số tài khoản: <%= totalUsers %></li>
    <li>Tài khoản đang hoạt động: <%= activeUsers %></li>
    <li>Tài khoản bị khóa: <%= blockedUsers %></li>
</ul>
